<div class="row">
	<div class="col s12 ">
		<h3 class="center-align">Courses Listing</h3>
	</div>
</div>
<div class="row">
	<% @courses.each do |course| %>
	<div class="col s12 m6">
		<div class="card small blue-grey lighten-3">
			<div class="card-image waves-effect waves-block waves-light">
			<%=image_tag("ca.jpg", class: "activator")%>  
			</div>
			<div class="card-content">
				<span class="card-title activator gray-text text-darken-4"><%= course.short_name %><i class="material-icons right">more_vert</i></span>
				<p><a href="#">Enroll</a></p>
				<p><a href="#">Info</a></p>
			</div>
			<div class="card-reveal blue-grey darken-3 white-text">
				<span class="card-title white-text text-darken-4"><%= course.name %>
				<i class="material-icons right">close</i></span>
				<p><%= course.description %></p>
			</div>
		</div>
	</div>
	<% end %>
</div>